<!--The content below is only a placeholder and can be replaced.-->
		
<div class="row" style="background:  #000;">
    <div  style="width:100%;background: linear-gradient(#999, #000);">
  <div [className]="style1">

  <agm-map 
  [latitude]="lat" 
  [longitude]="lng"
  [zoom]="zoom"
  (mapClick)="mapClicked($event)">
  <agm-marker [latitude]="lat" [longitude]="lng"  [label]="labelOptions"></agm-marker>
  <agm-marker
  *ngFor="let m of hospitald; let i = index"
  (markerClick)="clickedMarker(m,i)"
  [latitude]="m.lat" 
  [longitude]="m.lng"
   [openInfoWindow]="false"

  >
  <agm-info-window
  [isOpen]="m.isOpen"
  >
  	<strong>{{m?.name}}</strong>
  </agm-info-window>

</agm-marker>
</agm-map>
  

    </div>
    <div [className]="style2">

  <h2>{{ name }}</h2>
  <h2>{{address}}</h2>

   <ul>
    <li *ngFor="let item of speciality">{{item}}</li>
  </ul>
  <ul>
    <li *ngFor="let item1 of services">{{item1}}</li>
  </ul>
  <h3>{{phone1}}</h3>
  <h3>{{phone2}}</h3>
  <h3>{{phone3}}</h3>


    </div>
    
  </div></div>